<div class="rpanel_tabs">
    <div class="rpanel_tab">
        Random Opponents
        <div class="rpanel_content rcontent rcontent_default_visible">
            <div>Random Opponents</div>
        </div>
    </div>

    <div class="rpanel_tab">
        Followers
        <div class="rpanel_content rcontent">
            <div>Followers</div>
        </div>
    </div>

    <div class="rpanel_tab">
        Following
        <div class="rpanel_content rcontent">
            <div>Following</div>
        </div>
    </div>

    <div class="rpanel_tab">
        Fave Opponents
        <div class="rpanel_content rcontent">
            <div>Fave Opponents</div>
        </div>
    </div>
</div>


