<%= javascript_pack_tag 'user_showpg_tabs' %>
<div class="rpanel_tabs">
    <div id="tab_randOpp" class="rpanel_tab">Random Opponents</div>
    <div id="tab_followers" class="rpanel_tab">Followers</div>
    <div id="tab_following" class="rpanel_tab">Following</div>
    <div id="tab_faveOpp" class="rpanel_tab">Fave Opponents</div>
</div>
<div class="rpanel_content">

</div>


