
<div class="rpanel_tabs">
<div id="tab_friends" class="rpanel_tab tab_selected">Friends</div>
<div id="tab_faveOpp" class="rpanel_tab">Fave Opponents</div>
<% if logged_in? && current_user.id == params[:id].to_i %>
    <div id="tab_randOpp" class="rpanel_tab">Random Opponents</div>
<% end %>
</div>
<div id="tab_content" class="rpanel_content">
    <div id="content_friends" class="content_active" data-marker="selectable">
        <%= render partial: 'friends_content' %>
    </div>
    <div id="content_faveOpp" class="content_deselected" data-marker="selectable">
        <%= render partial: 'faveOpp_content' %>
    </div>
    <% if logged_in? && current_user.id == params[:id].to_i %>
        <div id="content_randOpp" class="content_deselected" data-marker="selectable">
            <%= render partial: 'randOpp_content' %>
        </div>
    <% end %>
</div>


