<div class = "all_users">
  <div class = "all_users_title">
    All Users
  </div>
  <ul class = "all_users_list">
    <% @users.each do |u| %>
      <li><%= link_to u.alias, user_path(u) %></li>
    <% end %>
  </ul>
</div>