<div>
  <h1 class="welcome_title">Super Universe</h1>
  <div class="recent_battles_box">
    <h3 class="welcome_subheading">Recent Battles:</h3>
    <ul class="recent_battles">
      <% @recent.each do |b| %>
        <li><%= battle_result_for_welcome(b) %></li>
      <% end %>
    </ul>
  </div>
  <%= welcome_pg_if_not_logged_in %>
</div>