<div class="new_news_form_wrapper">

    <%= form_with(model: @news_item, url: news_items_path, method: :post, local: true) do |f| %>

        <%= render partial: 'form', locals: { f: f } %>
        <%= f.submit "Add News", data: { disabled_with: false } %>
        
    <% end %>


</div>