<div id="char_showpg_other_info">
    <section class="char_showpg_other_info_header">
        <div class="char_showpg_sidebar_title">BATTLE STATS</div>
        <div class="char_showpg_user_subtitle large_link_text">
            <%= link_to @char.supername, user_character_path(id: @char.id, user_id: @char.user_id) %>
        </div>
        <div class="char_showpg_user_subtitle small_link_indentation">
            <%= link_to "Created by #{@user.alias}", user_path(id: @user.id) %>
        </div>

    </section>

    <section class="char_showpg_other_info_section battlespg_info_section">
    <% if @battles.length > 0 %>
            <div class="char_showpg_sidebar_title">Spar Records</div>
            <div class="char_battlespg_spar_record">
                <% @spar_record.each do |o| %>
                    <div class="spar_record_opponent_entry">
                        vs <%= link_to o[:opponent].supername, user_character_path(id: o[:opponent].id, user_id: o[:opponent].user_id), class: 'capitalize_link' %>
                        <div class="spar_record_count">
                            <%= "#{pluralize(o[:victories], 'victory')} | #{pluralize(o[:defeats], 'defeat')}" %>
                        </div>
                    </div>
                <% end %>
            </div>  
        <% else %>
            <div class="char_showpg_sidebar_title shrink">No battles to speak of...</div>
        <% end %>
    </section>
</div>

<div class="char_battlespg_wrapper">

    <div class="char_battlespg_statbox">
        
    </div>
    <div class="char_battlespg_statbox statbox_border statbox_padding">
        <div class="char_battlespg_scrollbox">
            
        </div>
    </div>

    
</div>
