<div class="char_battlespg_wrapper">
    <div class="char_battlespg_statbox_wrapper">
        <div class="char_battlespg_page_title">BATTLE STATISTICS</div>
        <div class="char_battlespg_statbox">
            <div class="char_battlespg_large_title">
                <%= link_to @char.supername, user_character_path(id: @char.id, user_id: @char.user_id) %>
                <div class="char_battlespg_subtitle">
                    Created by <%= link_to @user.alias, user_path(id: @user.id) %>
                </div>
            </div>
        </div>
    </div>

    Cupcake ipsum dolor sit amet halvah sugar plum sugar plum muffin. Lollipop bear claw jelly-o. Powder cake halvah cake. Jelly-o lollipop marshmallow cake sweet icing. Bonbon brownie topping powder caramels sugar plum chupa chups dragée cookie. Lemon drops apple pie tootsie roll pudding tootsie roll chocolate cake tootsie roll cupcake. Jelly jelly beans liquorice. Fruitcake lollipop tiramisu bonbon cupcake gummies cheesecake. Ice cream ice cream chocolate. Dessert cheesecake powder tootsie roll ice cream lollipop tiramisu icing. Toffee tiramisu dessert. Cake wafer liquorice ice cream dessert fruitcake jelly gingerbread. Gingerbread chocolate cake oat cake cupcake chocolate.

    Topping tootsie roll cotton candy biscuit chocolate cake chocolate cake fruitcake. Candy cupcake jelly pastry gummies cheesecake jelly beans cake. Brownie gummies cake macaroon caramels cake pudding bear claw chocolate cake. Tart apple pie marshmallow. Chocolate cake caramels donut tiramisu pastry. Sweet cupcake powder pie lollipop bear claw. Dessert sweet roll muffin jujubes gummi bears toffee icing lollipop. Topping danish toffee danish tootsie roll lemon drops. Pie dragée sesame snaps chocolate cake gummies pastry tiramisu halvah. Jelly lemon drops croissant sesame snaps danish icing. Jelly beans toffee pastry sesame snaps. Muffin sugar plum icing jujubes dessert. Chocolate sugar plum muffin icing croissant lemon drops chupa chups cheesecake.

    Dragée dessert pudding gingerbread sugar plum chocolate bar. Bonbon powder oat cake. Ice cream wafer soufflé halvah tootsie roll pie. Marzipan marzipan carrot cake. Oat cake dragée dragée donut gummies jelly-o ice cream pudding. Cookie cake icing jelly-o. Tart chocolate danish lollipop chocolate cake. Ice cream ice cream dragée sweet roll apple pie. Toffee topping bonbon chupa chups sesame snaps sweet roll biscuit donut. Jelly liquorice biscuit marzipan ice cream pie pastry dragée donut. Chupa chups cake sweet roll halvah. Tootsie roll dragée croissant bear claw. Jujubes gummi bears cheesecake. Sweet sweet chupa chups croissant wafer topping.

    Pastry caramels dragée. Tart soufflé fruitcake carrot cake cotton candy gummi bears jujubes halvah lollipop. Tootsie roll jelly-o chupa chups cheesecake. Sweet caramels macaroon gummies carrot cake. Donut bonbon pie bear claw sesame snaps candy. Lollipop dragée tart gingerbread. Muffin pudding liquorice macaroon donut lemon drops. Fruitcake gingerbread jelly pudding soufflé ice cream carrot cake chocolate cake icing. Chocolate gingerbread jujubes danish. Gummies tiramisu biscuit. Candy canes chocolate cotton candy lemon drops toffee candy ice cream. Halvah marzipan marshmallow.

    Icing jujubes chocolate bar. Lollipop chocolate cake danish. Gingerbread cupcake jelly-o icing chupa chups pudding. Oat cake tart pie oat cake. Chocolate bar sesame snaps toffee tootsie roll. Marshmallow cookie powder fruitcake donut chocolate icing. Tiramisu macaroon carrot cake gingerbread. Pudding jelly apple pie bonbon sesame snaps pudding. Halvah biscuit bonbon muffin cake gummies danish. Cotton candy gingerbread cheesecake oat cake soufflé jelly. Chocolate cheesecake icing biscuit gummi bears cookie halvah. Cheesecake cake jujubes lemon drops chocolate cake candy canes sugar plum chocolate cake.

</div>
