<h1 class="charform_pg_name">EDIT CHARACTER</h1>

<div class="charform_directions"
  <!-- INSTRUCTIONS WILL GO HERE -->
</div>

<div class="char_form_dynamic_arch"> </div>
<div class="char_form_bg">
  <%= form_with(model: @user, url: user_character_path(id: @char.id, user_id: @user.id), method: :patch, class: 'char_form', local: true) do |f| %>
    <%= f.fields_for @char do |char_form| %>
      <% render partial: 'form', locals: { char_form: char_form } %>
    <% end %>
    <%= f.submit "Edit Character", data: { disable_with: false } %>
  <% end %>
</div>
