/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.index_profile_pic img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.page_name {
  font-family: "Cantarell";
  font-size: 40px;
  position: absolute;
  top: 75px; left: 125px;
}

.errors_present {
  list-style-type: none;
  padding-left: 0px;
  font-family: "Cantarell";
  font-size: 12px;
  position: absolute;
  top: 150px; left: 135px;
  color: #f00;
  text-transform: lowercase;
}

.field_with_errors input {
  border: 2px solid #f00;
}

.form_design {
  box-sizing: border-box;
  width: 400px; height: 400px;
  border-radius: 50%;
  margin: auto;
  margin-top: 100px;
  display: block;
  background-color: #000;
}

.form_design.signup {
  padding-top: 45px;
}

.form_design.login {
  padding-top: 95px;
}

.form_design label {
  display: block;
  color: #fff;
  font-family: "Roboto Condensed";
  text-align: center;
}

.form_design input {
  display: block;
  width: 200px;
  margin:auto;
  margin-bottom: 10px;
}

.form_design input[type="submit"] {
  box-sizing: border-box;
  display: block;
  width: 80px; height: 20px;
  margin: 0px 160px;
  line-height: 20px;
  background-color: #fff;
  font-family: "Roboto Condensed";
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000;
  cursor: crosshair;
  -webkit-appearance: none;
}

.form_in_bubble_breaker {
  text-align: center;
  font-family: 'Cantarell';
  color: #fff;
  font-size: 20px;
}

.google_login_link_wrapper a {
  box-sizing: border-box;
  width: 400px;
  padding: 5px 7px;
  margin: 0px 100px;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  font-size: 12px;
  cursor: crosshair;
}

#navbar {
  background-color: #000;
  position: fixed;
  top: 0px; left: 0px;
  width: 100%; height: 30px;
  padding-left: 10px;
}

#navbar a, #navbar input[type="submit"] {
  box-sizing: border-box;
  display: inline-block;
  width: 70px; height: 20px;
  margin-top: 5px;
  line-height: 20px;
  background-color: #fff;
  font-family: "Roboto Condensed";
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000;
  cursor: crosshair;
  -webkit-appearance: none;
}
