/* CHARACTER SHOW PAGE */
/* For styling the EDIT/DELETE buttons, see application.css (.cu_profile_links) */
/* That class is also used to style the EDIT/DELETE buttons on char show pg. */

.char_showpg_wrapper {
  display: flex;
  margin: auto;
}

/* applies to both cards */
.char_showpg_card {
  /* display: inline-block; */
  margin: 20px 50px;
  float: left;
}

/* char_card specific */
#char_showpg_char_card {
  box-sizing: border-box;
  width: 506px; height: 446px;
  border: 3px double #000;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  padding: 20px 20px 20px 40px;
}

/* power_card specific */
#char_showpg_power_card {
  box-sizing: border-box;
  width: 450px;height: 446px;
  padding: 20px 0px 20px 40px;
  border-left: 3px double #000;
}

/* individual power entry styling */
.char_showpg_power_block {
  background-color: #000;
  display: block;
  box-sizing: border-box;
  height: 110px;
  margin: 0px 0px 5px 5px; padding: 10px 20px;

}

/* if char has no powers */
.char_showpg_no_powers_msg {
  margin-top: 40px;
  padding: 20px;
  font-family: "Roboto Condensed";
  font-size: 17px;
  text-align: center;
}

/* buttons in the power_card */
.char_showpg_button a, .char_showpg_button input[type='submit'] {
  box-sizing: border-box;
  display: block;
  height: 20px;
  margin: 20px auto;
  line-height: 20px;
  font-family: "Roboto Condensed";
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: crosshair;
  -webkit-appearance: none;
}

/* 'Browse Powers' button when no powers */
.black a, .black input[type='submit'] {
  width: 200px;
  background-color: #000;
  color: #fff;
}

/* 'Delete Power' button */
.white a, .white input[type='submit'] {
  width: 100px;
  background-color: #fff;
  color: #000;
  border: none;
}

/* styling within power blocks */
.char_showpg_power_link a {
  font-family: "Cantarell";
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  cursor: crosshair;
}

.char_showpg_power_link a:hover {
  color: #f00;
  text-decoration: line-through;
}

.char_showpg_power_move {
  font-family: "Roboto Condensed";
  font-size: 13px;
  color: #fff;
}

.char_showpg_moves_sec {
  width: 300px;
}

.char_showpg_delete_pwr_sec {
  width: 0px;
}

/* char_card styling */
.char_showpg_supername {
  font-family: "Cantarell";
  font-size: 30px;
  margin: 5px 0px;
}

h4.char_showpg_secretid {
  font-family: "Roboto Condensed";
  font-size: 16px;
  margin: 5px 5px;
}

ul.char_showpg_char_info_list {
  width: 150px;
  list-style-type: none;
  font-family: "Roboto Condensed";
  font-size: 14px;
  padding: 5px;
}

.char_showpg_bio {
  font-family: "Roboto Condensed";
  font-size: 14px;
  text-align: justify;
}

/* for secret identity related styling */
.redacted { color: #f00; }
.revealed { color: #000; }

.dox_button a {
  box-sizing: border-box;
  display: inline-block;
  background-color: #000;
  color: #fff;
  width: 80px; height: 20px;
  margin-left: 5px;
  line-height: 20px;
  font-family: "Roboto Condensed";
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: crosshair;
  -webkit-appearance: none;
}

/* for pick_battle_char_form */
td.pick_battle_char_form {
  width: 320px;
  text-align: center
}

.pbcform_header {
  font-family: "Roboto Condensed";
  font-size: 17px;
}

td.pick_battle_char_form select {
  width: 160px;
}

td.pick_battle_char_form input[type="submit"] {
  box-sizing: border-box;
  display: inline-block;
  background-color: #000;
  color: #fff;
  width: 80px; height: 20px;
  padding: 0px;
  line-height: 20px;
  font-family: "Roboto Condensed";
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: crosshair;
  -webkit-appearance: none;
  border: none;
}

#char_showpg_other_info {
  align-self: flex-start;
  box-sizing: border-box;
  width: 20%;
  padding-left: 30px;
  background-color: #000;
  color: #fff;
  height: 100%;
}

.char_showpg_other_info_header {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
}

.char_showpg_sidebar_title {
  margin-bottom: 5px;
  font-family: 'Cantarell';
  font-size: 25px;
  color: #fff;
}

div.char_showpg_sidebar_title a, div.char_showpg_sidebar_title a:visited, div.char_showpg_sidebar_title a:active {
  text-decoration: none;
  color: #fff;
}

div.char_showpg_sidebar_title a:hover {
  color: #f00;
  text-decoration: line-through;
  cursor: crosshair;
}

div.char_showpg_sidebar_title a::before {
  content: "⯈ ";
  color: #f00;
}

div.char_showpg_user_subtitle {
  font-family: 'Roboto Condensed';
  font-size: 11px;
  text-transform: uppercase;
  margin-left: 32px;
}

ul.char_showpg_recent_battles {
  list-style: none;
  font-family: 'Roboto Condensed';
  padding-left: 15px;
}

ul.char_showpg_recent_battles li {
  padding-bottom: 10px;
}





/* FORMS: NEW AND EDIT CHAR */
.charform_pg_name {
  font-family: "Cantarell";
  font-size: 40px;
  /* position: absolute;
  top: 35px; left: 780px; */

}

.charform_guide {
  /* position: absolute;
  top: 130px; left: 785px; */
  font-family: "Roboto Condensed";
}

h3.charform_guide_header {
  font-size: 18px;
  margin: 0px 0px 5px 5px;
  display: inline-block;
}

.black_block {
  background-color: #000;
  width: 80px; height: 14px;
  display: inline-block;
}

.charform_guide_list {
  width: 350px;
  margin: 0px 0px 0px 60px;
  font-size: 14px;
  text-align: justify;
}

.charform_guide_list .red {
  color: #f00;
}

.charform_guide_list li {
  margin-bottom: 5px;
}

/* char_form specific validation error handling */
td.field_with_errors {
  width: 300px;
  color: #f00;
  font-family: "Cantarell";
  font-size: 12px;
  text-transform: lowercase;
}

td.radio_buttons .field_with_errors {
  display: inline-block;
}

.field_with_errors select {
  border: 2px solid #f00;
}

/* page setup */

#main_content_body .char_form_wrapper {
  /* flex-direction:  */
  width: 100%; height: 100%;
  display: flex;
  justify-content: space-between;
}

.char_form_instructions {
  box-sizing: border-box;
  width: calc(100% - 880px);
  padding: 70px 0px 0px 50px;
}

.char_form_bg {
  height: 100%;
  width: 880px;
  border-top-right-radius: 400px;
  /* position: fixed;
  top: 33px; left: 0px; */
  background-color: #000;
}

/* NOW COMBINED WITH char_form_bg */
/* .char_form_dynamic_arch {
  background-color: #000;
  position: fixed;
  top: 33px; left: 499px;
  width: 330px; height: 100%;
  border-top-right-radius: 400px;
} */

/* basic label styling */
.char_form label {
  font-family: "Roboto Condensed";
  color: #fff;
}

/* submit button styling */
.char_form input[type="submit"] {
  box-sizing: border-box;
  display: block;
  width: 295px; height: 20px;
  margin: 20px 162px;
  line-height: 20px;
  background-color: #fff;
  font-family: "Roboto Condensed";
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000;
  cursor: crosshair;
  -webkit-appearance: none;
  border: none;
  box-shadow: 1px 1px 4px #FFF;
  transition: ease-in-out all .2s;
}

.char_form input[type="submit"]:hover {
  box-shadow: none;
}

.char_form {
  box-sizing: border-box;
  width: 800px; height: calc(100% - 20px);
  padding-top: 70px;
  /* position: fixed;
  top: 33px; left: 0px; */
}

tr.cft_set_row {
  width: 730px;
  margin: 15px 20px 0px 35px;
  display: block;
}

td.cft_label {
  box-sizing: border-box;
  width: 120px;
  text-align: right;
  padding-right: 10px;
}

/* basic text entries: :supername, :secret_identity, :dox_code */
td.cft_input input[type="text"], td.cft_input input[type="password"]  {
  width: 290px;
  margin-right: 10px;
}

/* :char_type dropdown menu */
td.cft_input select {
  width: 300px;
  margin-right: 10px;
}

/* :alignment radio bubbles */
td.radio_buttons {
  width: 350px;
}

td.radio_buttons label {
  width: 85px;
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
}

/* :hp, :att, :def stats */
td.cft_stat label {
  width: 40px;
  text-align: right;
  padding-right: 10px;
}

td.cft_stat input {
  width: 70px;
  margin-right: 23px;
}

td.sm_rt_margin input {
  margin-right: 12px;
}

/* :bio input text area */
td.cft_input textarea {
  width: 290px; height: 150px;
  margin-right: 10px;
}


.char_pg_bip_alert {
  display: grid;
  grid-auto-flow: column;
  margin-bottom: 5px;
  color: #F00;
}

.char_pg_bip_alert a, .char_pg_bip_alert a:active, .char_pg_bip_alert a:visited {
  color: #F00;
  text-decoration: none;
}

.char_pg_bip_alert a:hover {
  text-decoration: line-through;
}

.bip_icon_container {
  width: 16px; height: 16px;
  overflow: hidden;
  display: inline-block;
}

.bip_icon_container img {
  margin: -92px 0px 0px -92px;
}