/* STYLES FOR NEWS FEED ON WELCOME PAGE */
/* EXCEPT WHERE NOTED, WHICH ARE ALSO USED ON NEWS INDEX PAGE */

#welcome_news_feed {
    margin: 20px 70px 0px 155px;
    padding-right: 40px;
}

/* BOTH NEWS FEEDS */
.welcome_nf_logged_in, #news_feed { 
    height: calc(100% - 293px);
    overflow: auto;
}
.welcome_nf_logged_out { 
    height: calc(100% - 337px);
    overflow: auto;
}

/* BOTH NEWS FEEDS */
#welcome_news_feed::-webkit-scrollbar, #news_feed::-webkit-scrollbar {
    background-color: #000;
    width: 13px;
}

/* BOTH NEWS FEEDS */
#welcome_news_feed::-webkit-scrollbar-button, #news_feed::-webkit-scrollbar-button {
    color: #000;
}

/* BOTH NEWS FEEDS */
#welcome_news_feed::-webkit-scrollbar-thumb, #news_feed::-webkit-scrollbar-thumb {
    background-color: #f00;
}

.welcome_news_feed_title {
    font-family: "Cantarell";
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0px 0px 155px;
    border-left: 10px solid #000;
    padding: 0px 0px 10px 15px;
}

.welcome_news_item {
    margin: 0px 0px 30px 25px;
}

/* BOTH NEWS FEEDS */
.welcome_news_item_title, .news_item_title {
    font-size: 23px;
    font-family: "Cantarell";
}

/* BOTH NEWS FEEDS */
.welcome_news_item_description, .news_item_description {
    font-family: "Roboto Condensed";
    font-size: 17px;
    text-align: justify;
}



/* STYLES FOR NEWS INDEX PAGE */
#news_feed_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.news_item {
    margin: 10px 105px 20px 145px;
    padding-right: 40px;
}
