/* POWER INDEX PAGE */
.pwr_pg_wrapper {
  box-sizing: border-box;
  width: 100%; height: 100%;
  position: fixed;
  top: 45px; left: 0px;
  background-color: #000;
}

.pwr_column_block {
  width: 760px; /* ADD 190px FOR EACH COLUMN */
  margin: auto;
}

.pwr_column {
  box-sizing: border-box;
  width: 150px; height: 100%;
  background-color: #fff;
  margin: 0px 20px;
  /* display: inline-block; */
  float: left;
}

.pwr_column_title {
  font-family: "Roboto Condensed";
  font-size: 20px;
  text-align: center;
  height: 70px;
  padding-top: 10px;
}

.pwr_list {
  list-style: none;
  padding: 0px 5px;
  font-family: "Roboto Condensed";
  font-size: 14px;
}

li.pwr_link a {
  color: #000;
  text-decoration: none;
  cursor: crosshair;
  line-height: 20px;
  transition: color ease-in-out .3s;
}

li.pwr_link a:visited, li.pwr_link a:active {
  color: #000;
  text-decoration: none;
}

li.pwr_link a:hover {
  color: #f00;
}


/* POWER SHOW PAGE */
/* for power info circle */
.pwr_showpg_wrapper {
  /* position: absolute;
  top: 100px; left: 150px; */
  box-sizing: border-box; 
  width: 500px; height: 500px;
  border-radius: 250px;
  padding-top: 120px;
  margin: 0px 50px;
  background-color: #000;
  text-align: center;
}

/* both section headings */
.pwr_showpg_heading {
  font-family: "Cantarell";
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 15px;
}

/* determine heading color */
.pwr_showpg_heading.black { color: #000; margin-bottom: 10px; }
.pwr_showpg_heading.white { color: #fff; margin-bottom: 0px; padding: 0px 10px; }

.pwr_showpg_type {
  font-family: "Cantarell";
  font-size: 13px;
  text-transform: uppercase;
  margin: 0px 0px 15px;
  color: #fff;
}

/* moves within the power circle */
table.pwr_showpg_mvs {
  width: 250px;
  margin: auto;
  border-collapse:separate;
  border-spacing:0 10px;
}

td.mv_type {
  width: 90px;
  padding-right: 10px;
  font-family: "Roboto Condensed";
  font-size: 25px;
  color: #fff;
  text-align: right;
}

td.mv_info {
  background-color: #fff;
  font-family: "Cantarell";
  font-size: 12px;
  color: #000;
  padding: 0px 3px;
}

/* for add_power form */
.pwr_showpg_form_wrapper {
  /* position: absolute;
  top: 175px; left: 750px; */
  box-sizing: border-box;
  width: 350px; height: 250px;
  margin: 0px 50px;
  /* border: 1px solid #000; */
}

/* for if a message is displayed instead of the form */
.pwr_form_msg {
  margin-top: 40px;
  padding: 20px;
  font-family: "Roboto Condensed";
  font-size: 17px;
  text-align: center;
}

/* for any links in the power form including redirect links if power can't be added */
.pwr_form_link a, .add_pwr_form input[type="submit"] {
  box-sizing: border-box;
  display: inline-block;
  height: 20px;
  margin: 0px; padding: 0px;
  line-height: 20px;
  background-color: #000;
  font-family: "Roboto Condensed";
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
  cursor: crosshair;
  border: none;
  -webkit-appearance: none;
}

.long a { width: 130px; } /* for long alternate link buttons */
.short a { width: 65px; } /* for short alternate link buttons */

/* for literal "add power" button */
.add_pwr_form input[type="submit"] {
  width: 150px;
  position: relative; top: 15px;
  display: block;
  margin: auto;
}

/* additional styling for add power form */
.add_pwr_form label {
  font-family: "Roboto Condensed";
}

.add_pwr_form select {
  width: 200px;
}
