div.welcome_page_container {
  width: 65%; height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

h1.welcome_title {
  width: 100%; height: 100px;
  font-family: "Cantarell";
  font-size: 75px;
  line-height: 80px;
  margin: 40px 0px 0px;
}

h1.welcome_title::before { content: "⯈⯈"; }

h3.welcome_subtitle {
  font-family: "Roboto Condensed";
  font-size: 28px;
  margin: 10px 0px 0px 155px;
}

h3.welcome_subtitle a, h3.welcome_subtitle a:visited, h3.welcome_subtitle a:active  {
  color: #f00;
  text-decoration: none;
  cursor: crosshair;
}
h3.welcome_subtitle a:hover { text-decoration: line-through; }

.recent_battles_container {
  height: 100%;
}

.recent_battles_box {
  height: calc(100% - 176px);
  margin: 10px 50px 0px 0px;
  padding-right: 20px;
  overflow: auto;
}

.recent_battle_line {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: flex-start;
  line-height: 16px;
  padding: 0px 0px 20px;
}

.battle_result_ago {
  text-transform: uppercase;
  color: #878787;
  font-size: 13px;
  font-style: italic;
  padding-top: 4px;
}

h3.recent_battles_heading {
  margin: 65px 0px 15px 3px;
  font-family: "Cantarell";
  font-size: 25px;
  padding: 0px 0px 10px 10px;
  border-left: 11px solid #000;
}

div.recent_battles {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto Condensed";
  font-size: 16px;
}


div.recent_battles a, div.recent_battles a:visited, div.recent_battles a:active {
  color: #f00;
  text-decoration: none;
  cursor: crosshair
}

div.recent_battles a:hover {
  text-decoration: line-through;
}

.rb_victory_arrow { padding-right: 10px; }
.rb_defeat_arrow { padding-right: 10px; color: #f00 }

.recent_battles_box::-webkit-scrollbar {
  background-color: #000;
  width: 13px;
}

.recent_battles_box::-webkit-scrollbar-button {
  color: #000;
}

.recent_battles_box::-webkit-scrollbar-thumb {
  background-color: #f00;
}

div.leader_board_container {
  box-sizing: border-box;
  width: 25%; 
  max-width: 350px; min-width: 300px;
  height: 100%;
  padding: 61px 40px 0px 0px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div.leader_board_header {
  font-family: "Cantarell";
  font-size: 25px;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 0px 20px 20px;
  margin-bottom: 30px;
}

div.leader_board {
  margin-left: 50px;
  margin-bottom: 25px;
}

div.leader_board_title {
  font-family: 'Cantarell';
  font-size: 20px;
  color: #fff;
  margin-bottom: 5px;
}

div.leader_entry {
  margin-left: 20px;
  color: #fff;
  font-family: "Roboto Condensed";
  font-size: 18px;
  line-height: 125%;
}

div.leader_entry a, div.leader_entry a:active, div.leader_entry a:visited {
  color: #f00;
  text-decoration: none;
}

div.leader_entry a:hover {
  text-decoration: line-through;
}