div.welcome_page_container {
  width: 100%; height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

h1.welcome_title {
  width: 100%; height: 100px;
  font-family: "Cantarell";
  font-size: 80px;
  line-height: 80px;
  margin: 40px 0px 0px;
}

h1.welcome_title::before { content: "⯈⯈"; }

.recent_battles_box {
  width: 100%;
  margin: 30px 0px 0px 155px;

}

h3.welcome_subtitle {
  font-family: "Roboto Condensed";
  font-size: 28px;
  margin: 10px 0px 0px 155px;
}

h3.welcome_subtitle a, h3.welcome_subtitle a:visited, h3.welcome_subtitle a:active  {
  color: #f00;
  text-decoration: none;
  cursor: crosshair;
}
h3.welcome_subtitle a:hover { text-decoration: line-through; }

h3.recent_battles_heading {
  margin: 0px;
  font-family: "Cantarell";
  font-size: 25px;
  padding-bottom: 15px;
}

ul.recent_battles {
  width: 600px;
  margin: auto;
  list-style: none;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto Condensed";
  font-size: 16px;
}

ul.recent_battles li { padding-bottom: 10px;}

ul.recent_battles a, ul.recent_battles a:visited, ul.recent_battles a:active {
  color: #f00;
  text-decoration: none;
  cursor: crosshair
}

ul.recent_battles a:hover {
  text-decoration: line-through;
}

div.leader_board_container {
  box-sizing: border-box;
  width: 25%; max-width: 350px;
  height: 100%;
  padding: 50px 40px 0px 0px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.leader_board {
  margin-left: 20px;
  margin-bottom: 75px;
}

div.leader_board_title {
  font-family: 'Cantarell';
  font-size: 25px;
  color: #fff;
  margin-bottom: 10px;
}

div.leader_entry {
  margin-left: 20px;
  color: #fff;
  font-family: "Roboto Condensed";
  font-size: 18px;
  line-height: 150%;
}

div.leader_entry a, div.leader_entry a:active, div.leader_entry a:visited {
  color: #f00;
  text-decoration: none;
}

div.leader_entry a:hover {
  text-decoration: line-through;
}