<div class="cu_profile_links cu_profile_links_plus_left_margin">
  <%= link_to "Edit Profile", edit_user_path(current_user) %>
  <%= form_with(model: @user, method: "delete") do %>
    <%= submit_tag 'Delete Account', data: { confirm: 'Are you sure you wish to delete your account?' } %>
  <% end %>
</div>
